* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Flex', Arial, sans-serif;
    background-color: #f2f2f2;

    .head-container {
        position: relative;

        .head-contact-info {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #000;
            height: 7rem;


            .head-icon img {
                width: 20rem;
                border-radius: .8rem;
            }

            .address-icon,
            .email-icon {
                color: #f3f3f3;
                display: flex;
                align-items: center;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #f3f3f3;
                    border-radius: .3rem;
                    color: #276ab3;
                    width: 3rem;
                    height: 3rem;
                    margin-right: 1rem;
                }


                .head-text p:first-of-type {
                    font-size: 1.2rem;
                    font-weight: bold;
                    line-height: 2rem;
                }

            }
        }

    }

    .main-section-navbar {
        background-color: #f3f3f3;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        padding: 1.5rem;
        z-index: 1000;


        .main-section-nav {
            display: flex;
            align-items: center;
            justify-content: space-around;

            a {
                font-weight: 700;
                font-size: 1.1rem;
                padding: 1rem;
                text-decoration: none;
                color: #151515;
            }

            a:hover {
                border-radius: .4rem;
                border: solid 1px #276ab3;
                color: #276ab3;
                transition: 0.20s ease-in-out;

            }

            a:active {
                border-radius: .4rem;
                border: solid 1px #1b6fc9;
                color: #276ab3;
            }
        }

        .bookingbtn {
            display: flex;
            align-items: center;
            margin-left: 6rem;

            a {
                background-color: #276ab3;
                border-radius: .6rem;
                padding: .6rem 3rem;
                color: #f3f3f3;
                text-decoration: none;
                font-weight: 700;
                display: flex;
                align-items: center;
                gap: 1rem;
                transition: 0.5s ease;

                span {
                    color: #000;
                    background-color: #f3f3f3;
                    border-radius: .2rem;
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }

            a:hover {
                background-color: #151515;
                transform: translate3d(10px, 10px, 10px)
            }

        }
    }

    .main-section-container {
        position: relative;
        overflow: hidden;
        min-height: 41rem;

        .main-slide {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            padding: 4rem 9%;
            filter: blur(8px);
            transition:
                opacity 1.2s ease,
                filter 1.2s ease;


        }

        .main-slide.active {
            opacity: 1;
            filter: blur(0);
            z-index: 2;
        }

        .main-slide::before {
            content: "";
            position: absolute;
            inset: 0;
            background-position: center;
            background-size: cover;
            background-image: url(/Nezer-s-Project/Images/Bg\ image.webp);
            transform: scale(1.08);
            opacity: .18;
            z-index: -1;
        }

        .slide-two::before {
            background-image: url(/Nezer-s-Project/Images/Bg\ image\ 2.webp);
        }

        .main-section-text,
        .main-section-image {
            position: relative;
            z-index: 1;
        }

        .main-section-text {
            width: 50%;

            h3 {
                font-size: 2.6rem;
                color: #276ab3;
                line-height: 2.9rem;
                margin-bottom: 1rem;
            }

            h1 {
                color: #111;
                font-size: 3.2rem;
                margin-bottom: 30px;
            }

            p {
                color: #111;
                font-size: 1.3rem;
                line-height: 1.6rem;
                margin-bottom: 1.8rem;
            }

            a {
                display: inline-block;
                background: #276ab3;
                color: #f3f3f3;
                text-decoration: none;
                padding: 1rem 1.8rem;
                border-radius: .6rem;
                font-weight: bold;
            }
        }



        .main-section-image {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;


            img {
                display: block;
                width: 27rem;
                height: 27rem;
                border-radius: 50%;
                object-fit: cover;
                border: solid #276ab3 1.2rem;
                padding: 1rem;
                background-color: #f3f3f3;
            }

        }

        .main-section-image::after {
            content: "";
            position: absolute;
            width: 30rem;
            height: 30rem;
            border: .4rem dashed #3479bd;
            border-radius: 50%;
            animation: rotate 15s linear infinite;
        }
    }

    .histroy-section {

        display: flex;
        justify-content: center;
        background-color: #e8ebef;
        padding: 4rem 0 4rem 0;



        .about-history,
        .about-history-image {
            width: 40%;
            margin: 3rem 1rem 3rem 1rem;

        }

        .about-history {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            h3 {
                background-color: #276ab3;
                border-radius: .4rem;
                padding: .7rem 7rem .7rem 1rem;
                color: #f3f3f3;
                font-weight: 700;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.8;
                margin-bottom: 1.2rem;
                margin: 1.4rem 7rem 1.4rem 0;
            }

            a {
                background-color: #276ab3;
                border-radius: .4rem;
                padding: 1rem 1.8rem;
                color: #f3f3f3;
                display: inline-block;
                text-decoration: none;
                font-weight: 700;
            }
        }

        .about-history-image {
            border: solid 10px #f3f3f3;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                object-fit: cover;
                width: 70%;
            }



        }
    }

    .inpact-section {
        display: flex;
        justify-content: center;
        padding: 4rem 0 4rem 0;


        .impact-container {

            h4 {
                font-size: 2.5rem;
                text-align: center;
                margin-bottom: 3rem;


            }

            .impact-grid-table {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 2rem;

                .one {
                    background-color: #e8ebef;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    min-height: 15rem;
                    padding: 3rem;
                    gap: 1rem;
                    border-radius: 1rem;
                    transition: ease 0.3s;

                }

                .one:hover {
                    transform: translateY(5px);
                }

                span {
                    color: #276ab3;
                    font-size: 3rem;
                }

                h3 {
                    color: #276ab3;
                    font-size: 4rem;
                    font-weight: 500;
                }

                p {
                    color: #666;
                    font-size: 1.2rem;
                }
            }
        }
    }

    .message-section {
        display: flex;
        justify-content: center;
        background-color: #e8ebef;
        align-items: center;
        margin-top: 3rem;
        padding: 6rem 0 6rem 0;

        .message-image {
            width: 40%;
            display: flex;
            justify-content: center;

            img {
                width: 70%;
                border-radius: .8rem;
            }
        }

        .message-text {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: 0 3rem 0 3rem;

            h3 {
                color: #f3f3f3;
                background-color: #276ab3;
                padding: 0.5rem;
                border-radius: .4rem;
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }

            h1 {
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }

            p {
                margin-top: 1rem;
                font-size: 1.5rem;
                line-height: 1.5;

            }

            a {
                background-color: #276ab3;
                border-radius: .4rem;
                padding: 1rem 1.8rem;
                color: #f3f3f3;
                display: inline-block;
                text-decoration: none;
                font-weight: 700;
                margin-top: 1rem;
            }

            .message-text-image img {
                width: 6rem;
                height: 6rem;
                object-fit: cover;
                border-radius: 50%;
                margin-top: 1rem;

            }
        }
    }

    .about-ministry-section {
        padding: 4rem 0 4rem 0;
        background-color: #d3dfed;
        /* margin: 0 3rem 0 3rem; */

        .ministry-container {
            margin: 0 3rem 0 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;


            h3 {
                color: #276ab3;
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.8;
                font-size: 1.2rem;
                text-align: center;
                color: #666;
                margin-bottom: 3rem;
            }

            .ministry-grid-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 2rem;

                .grid-table {
                    background-color: #f3f3f3;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: .8rem;
                    padding: 3rem;
                    transition: ease 0.3s;

                    h4 {
                        color: #276ab3;
                        font-size: 1.5rem;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                    }

                    p {
                        color: #666;
                        font-size: 1.2rem;
                        text-align: center;
                    }

                    span {
                        color: #276ab3;
                        font-size: 3rem;
                    }

                    a {
                        color: #000;
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 1.2rem;
                    }

                    a:hover {
                        color: #0e3154;
                    }
                }

                .grid-table:hover {
                    transform: translateY(5px);
                }
            }



        }
    }

    .global-presence-container {
        display: flex;
        justify-content: center;
        background-color: #b7c5d4;
        padding: 4rem 0 4rem 0;
        margin-bottom: 3rem;

        .global-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 3rem 0 3rem;

            span {
                color: #276ab3;
                font-size: 4rem;
            }

            h3 {
                color: #276ab3;
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.8;
                font-size: 1.2rem;
                text-align: center;
                color: #666;
                margin-bottom: 3rem;
            }

            .global-grid-container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 2rem;

                .global-grid-table {
                    background-color: #c9d6e5;
                    border-left: solid 4px #276ab3;
                    border-radius: .8rem;
                    padding: 1.8rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    transition: ease 0.3s;

                    h4 {
                        color: #276ab3;
                        font-size: 1.5rem;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                    }

                    p {
                        color: #666;
                        font-size: 1.2rem;
                        text-align: left;
                    }
                }

                .global-grid-table:hover {
                    transform: translateY(5px);
                }
            }
        }
    }

    .events {
        background-color: #e2e9f1;
        padding: 4rem 0 4rem 1rem;


        .events-header {
            display: flex;
            align-items: center;
            flex-direction: column;

            h3 {
                color: #f3f3f3;
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.8;
                font-size: 1.2rem;
                text-align: center;
                color: #f3f3f3;
                margin-bottom: 3rem;
            }
        }

        .events-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #ffffff;
            border-radius: .8rem;
            padding: 1rem;
            width: 30%;

            span {
                color: #276ab3;
            }

            h4 {
                font-size: 1.3rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.4;
                font-size: 1.2rem;
                text-align: left;
                color: #666;
                margin-bottom: 1rem;
            }

            a {
                text-decoration: none;
                font-weight: 700;
                color: #0e3154;
            }

            a:hover {
                color: #276ab3;

            }
        }

        .events-image {
            display: flex;
            justify-content: center;

            img {
                width: 100%;
                margin-bottom: 1rem;
                border-radius: .8rem;
            }

        }
    }





    @keyframes rotate {
        0% {
            transform: rotate(0deg);
            /* transition: border 4s ease; */
        }

        100% {
            transform: rotate(360deg)
        }
    }
}