* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Flex', Arial, sans-serif;


    .head-container {
        position: relative;

        .head-contact-info {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #000;
            height: 7rem;


            .head-icon img {
                width: 20rem;
                border-radius: .8rem;
            }

            .address-icon,
            .email-icon {
                color: #f3f3f3;
                display: flex;
                align-items: center;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #f3f3f3;
                    border-radius: .3rem;
                    color: #276ab3;
                    width: 3rem;
                    height: 3rem;
                    margin-right: 1rem;
                }


                .head-text p:first-of-type {
                    font-size: 1.2rem;
                    font-weight: bold;
                    line-height: 2rem;
                }

            }
        }

    }

    .main-section-navbar {
        background-color: #f3f3f3;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        padding: 1.5rem;
        z-index: 1000;


        .main-section-nav {
            display: flex;
            align-items: center;
            justify-content: space-around;

            a {
                font-weight: 700;
                font-size: 1.1rem;
                padding: 1rem;
                text-decoration: none;
                color: #151515;
            }

            a:hover {
                border-radius: .4rem;
                border: solid 1px #276ab3;
                color: #276ab3;
                transition: 0.20s ease-in-out;

            }

            a:active {
                border-radius: .4rem;
                border: solid 1px #1b6fc9;
                color: #276ab3;
            }
        }

        .bookingbtn {
            display: flex;
            align-items: center;
            margin-left: 6rem;

            a {
                background-color: #276ab3;
                border-radius: .6rem;
                padding: .6rem 3rem;
                color: #f3f3f3;
                text-decoration: none;
                font-weight: 700;
                display: flex;
                align-items: center;
                gap: 1rem;

                span {
                    color: #000;
                    background-color: #f3f3f3;
                    border-radius: .2rem;
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }

            a:hover {
                background-color: #151515;
                transition: .8s ease;
            }

        }
    }


    .main-section-container {
        position: relative;
        overflow: hidden;
        min-height: 41rem;

        .main-slide {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            padding: 4rem 9%;
            filter: blur(8px);
            transition:
                opacity 1.2s ease,
                filter 1.2s ease;


        }

        .main-slide.active {
            opacity: 1;
            filter: blur(0);
            z-index: 2;
        }

        .main-slide::before {
            content: "";
            position: absolute;
            inset: 0;
            background-position: center;
            background-size: cover;
            background-image: url(/Nezer-s-Project/Images/Bg\ image.webp);
            transform: scale(1.08);
            opacity: .18;
            z-index: -1;
        }

        .slide-two::before {
            background-image: url(/Nezer-s-Project/Images/Bg\ image\ 2.webp);
        }

        .main-section-text,
        .main-section-image {
            position: relative;
            z-index: 1;
        }

        .main-section-text {
            width: 50%;

            h3 {
                font-size: 2.6rem;
                color: #276ab3;
                line-height: 2.9rem;
                margin-bottom: 1rem;
            }

            h1 {
                color: #111;
                font-size: 3.2rem;
                margin-bottom: 30px;
            }

            p {
                color: #111;
                font-size: 1.3rem;
                line-height: 1.6rem;
                margin-bottom: 1.8rem;
            }

            a {
                display: inline-block;
                background: #276ab3;
                color: #f3f3f3;
                text-decoration: none;
                padding: 1rem 1.8rem;
                border-radius: .6rem;
                font-weight: bold;
            }
        }



        .main-section-image {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;


            img {
                display: block;
                width: 27rem;
                height: 27rem;
                border-radius: 50%;
                object-fit: cover;
                border: solid #276ab3 1.2rem;
                padding: 1rem;
                background-color: #f3f3f3;
            }

        }

        .main-section-image::after {
            content: "";
            position: absolute;
            width: 30rem;
            height: 30rem;
            border: .4rem dashed #3479bd;
            border-radius: 50%;
            animation: rotate 15s linear infinite;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        /* transition: border 4s ease; */
    }

    100% {
        transform: rotate(360deg)
    }
}